body{
    background-color: #f0f2f0;
}
.container-fluid{
    padding: 0 0 !important;
}
.body-content{
    margin: 0.8rem 2rem;
    border-radius: 1rem;
}
.product{
    background-color: white;
    padding: 0.5rem 1.5rem;
}
.title-hot-product{
    background-color: #9c3;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 1rem;
}

/* product */
.name-product{
    color: #9c3;
}
.price-product{
    color: red;
}
.footer{
    margin-top: 10px;
}

.title-category-product{
    background-color: #9c3;
    color: azure;
}
.slider-top{
    margin-top: 50px !important;
}
.nav-item{
    padding: 0 2rem;
    border-left: #f0f2f0 solid 0.2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}
.form-control{
    border-radius: 1rem;
}
.cateHead{
    padding: 1rem;
    background-color: #9c3;
    color: #f0f2f0;
}
.cate ul a li {
    font-size: 2rem;
}
.cate ul{
    background-color: #fff;
    padding: 1.2rem;
}
.top-content img{
    width: 100%;
}
.product-information p{
    font-size: 2rem;
}
